torch==1.13.1
torchvision  # because torch version already specific, the right torchvision will be derived automatically
torchaudio  # because torch version already specific, the right torchaudio will be derived automatically
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
timm==0.6.7
ftfy
regex
einops
fvcore
eva-decord==0.6.1
iopath
numpy>=1.19
matplotlib
types-regex
mayavi
cartopy
