torch>=2.6.0
torchvision  # because torch version already specific, the right torchvision will be derived automatically
torchaudio  # because torch version already specific, the right torchaudio will be derived automatically
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@6cdc929315aab1b5674b6dcf73b16ec99147735f
timm==0.6.7
ftfy
regex
einops
fvcore
eva-decord==0.6.1
iopath
numpy>=1.19
matplotlib
types-regex
mayavi
cartopy
